<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/jee/web-app_2_4.xsd"
 version="2.4">

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>session.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/loginservlet</url-pattern>
</servlet-mapping>
 <servlet>
<servlet-name>UploadImage</servlet-name>
<servlet-class>/UploadImage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UploadImage</servlet-name>
<url-pattern>/UploadImage</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>session.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>URLSession</servlet-name>
<servlet-class>URLSession</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>URLSession</servlet-name>
<url-pattern>/URLSession</url-pattern>
</servlet-mapping>
